* {
  font-style: normal;
  font-family: "Roboto";
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
@mixin SizeNColor{
  font-weight: 400;
  font-size: 40px;
  color: #156ba8;
}

.about2-page {
  height: 100%;
  .top-container,
  .bottom-container {
    min-height: 55px;
    height: calc((100vh - 651px) / 2);
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    .col,
    .col-auto {
      padding: 0;
    }

    .Col-1 {
      min-width: 85px;
    }

    .head-box {
      display: flex;

      .back-box {
        width: 78px;
        height: 44.03px;
        background-color: #d9ebff;
        border-radius: 0 8px 8px 0;

        img {
          margin: auto;
          display: grid;
          place-items: center;
        }
      }

      .heading-box {
        width: 305px;
        height: 40px;

        h2 {
          @include SizeNColor;
          margin-bottom: 0;
        }
      }
    }
    .content-box {
      width: 948px;
      height: 651px;

      .row-B1 {
        .head-text {
          @include SizeNColor;
          line-height: 40px;
          margin-bottom: 98px;
        }
      }

      .item-box {
        margin-top: 243px;
        margin-bottom: 189px;
        display: flex;
        justify-content: center;

        .powerRating {
          box-sizing: border-box;
          border: 1px solid #e0e0e0;
          width: 493px;
          height: 130px;
          background: #f6f9fc;
          box-shadow: 0px 4px 20px #d9eaff;
          border-radius: 13px;

          .label-pr {
            margin: 50px 40px 50px 48px;
            width: 238px;
            height: 30px;
            font-weight: 500;
            font-size: 25px;
            line-height: 119.19%;
            color: #156ba8;
          }
        }
      }

      .Btn-box {
        .back {
          width: 106px;
          height: 40px;
          color: #ffffff;
          background: #156ba8;
          box-shadow: 0px 4px 4px rgba(21, 107, 168, 0.2);
          border: none;
          border-radius: 18px;
        }
      }
    }
  }
}

@media (max-width: 5000px) {

  @mixin fontSize{
    font-weight: 400;
    font-size: 16px;
    line-height: 119.19%;
    text-align: center;
  }
  @mixin flexBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .about2-page {
    background-color: #ffffff;
    .top-container,
    .bottom-container {
      display: none;
    }

    .row {
      
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 34px !important;
      height: calc(100vh - 133.41px);
      overflow-y: auto;
      margin-left: 0px !important;


      .Col-1 {
        min-width: 10px;
      }

      .head-box {
        .back-box {
          display: none;
        }
      }

      .content-box {
        height: auto;
        width: 335px;
        margin-bottom: 0px;

        .row-B1 {
          height: auto;
          display: flex;
          justify-content: center;
          text-align: center;
          margin-bottom: 31px;

          .logo {
            img {
              width: 120px;
              height: 120px;
            }
          }
        }

        .about-head {
          display: flex;
          justify-content: center;
          text-align: center;

          h1 {
            @include fontSize;
            font-weight: 500;
            font-size: 25px;
            color: #156ba8;
          }
        }
        .about-desc {
          @include flexBox;
          .version {
            @include flexBox;
            width: 100%;
            p {
              @include fontSize;
            }
          }
          .copyright {
            @include flexBox;
            width: 100%;
            p {
              @include fontSize;
              span {
                @include fontSize;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
              }
            }
          }
          .develop {
            
            width: 100%;
            p {
              @include fontSize;
            }
          }
        }

        .Btn-box {
          padding-top: 30px !important;
          padding-bottom: 55px !important;
          width: auto !important;
          height: 0px;
          justify-content: center !important;

          .back {
            width: 124px;
            height: 36px;
            background: #156ba8;
            color: #ffffff;
            box-shadow: 0px 4px 4px rgba(21, 107, 168, 0.2);
            border-radius: 18px;
            border: none;
          }
        }
      }
    }
  }
}